<div class="card">
  <div class="card-body">
    <h5 class="card-title">Поиск измерений</h5>

    <!-- Horizontal Form -->
    <form>
      <div class="row mb-3">
        <div class="col-sm-12">
          <input type="text" class="form-control form-control-sm" placeholder="Поиск по тексту">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-4">
          <input type="date" class="form-control form-control-sm">
        </div>
        <div class="col-sm-4">
          <input type="date" class="form-control form-control-sm">
        </div>
        <div class="col-sm-4">
          <div class="form-check form-switch">
            <input class="form-check-input form-check-input-sm" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label form-check-label-sm" for="flexSwitchCheckDefault">Не учитывать даты</label>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-sm-4">
          <select class="form-select form-select-sm" aria-label="Default select example">
            <option selected>Выберите изделие</option>
            <option value="1">M248</option>
            <option value="2">M269</option>
            <option value="3">M705</option>
          </select>
        </div>
        <div class="col-sm-4">
          <select class="form-select form-select-sm" aria-label="Default select example">
            <option selected>Выберите программу</option>
            <option value="1">M248</option>
            <option value="2">M269</option>
            <option value="3">M705</option>
          </select>
        </div>
        <div class="col-sm-4">
          <select class="form-select form-select-sm" aria-label="Default select example">
            <option selected>Выберите параметр</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-sm-4">
          <select class="form-select form-select-sm" multiple aria-label="multiple select example" size='10'>
            <option selected>Выберите пакеты</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
          </select>
        </div>
        <div class="col-sm-4">
          <select class="form-select form-select-sm" multiple aria-label="multiple select example" size='10'>
            <option selected>Выберите партии</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
          </select>
        </div>
        <div class="col-sm-4">
          <select class="form-select form-select-sm" multiple aria-label="multiple select example" size='10'>
            <option selected>Выберите пластины</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>

          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Найти</button>
      </div>

      <div class="row mb-3">
      </div>
    </form><!-- End Horizontal Form -->

  </div>
</div>