<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <%= link_to "/admin", class: "logo d-flex align-items-center" do %>
      <%= image_tag "admin/logo.png" %>
      <span class="d-none d-lg-block"><%= ENV["admin_name"] %></span>
    <% end %>
  </div><!-- End Logo -->
</header><!-- End Header -->
