<section class="section dashboard">
  <div class="row">
    <div class="col-lg-6">
      <%= render 'meter/vah/meterings/form' %>
    </div>
    <div class="col-lg-6">
      <%= render 'meter/vah/meterings/chart' %>
    </div>
    <div class="col-lg-12">
      <%= render 'meter/vah/meterings/data' %>
    </div>
  </div>
</section>
