<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Datatables</h5>
          <%= render "players", players: @players %>


        </div>
      </div>
    </div>
  </div>
</section>
